* {
    margin: 0;
    padding: 0;
}

#center {
    position: relative;
    padding: 200px 0px;
    height: 100vh;
    background-color: gray;
    background-color: rgb(12, 12, 12);
    background-image: url('./crossPattern.png');
    background-size: 6rem;
    /* background: linear-gradient(180deg, rgba(4, 15, 61, 1) 0%, rgba(33, 79, 123, 1) 100%); */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#mainCont {
    /* border: 1px solid white; */
    width: 80%;
    z-index: 10;
    /* border-image: linear-gradient(0deg, rgb(0,0,0) 0%, rgb(250,250,250) 100%); */
}

#shadow {
    z-index: 0;
    position: absolute;
    top: 13%;
    left: 7%;
    width: 86%;
    height: 65%;
    /* filter: blur(10px); */
    background-color: rgba(12, 12, 12, 1);
    border: 1px solid white;
    border-bottom: 0px;
    border-top-left-radius: 2.6rem;
    border-top-right-radius: 2.6rem;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#links li {
    list-style-type: none;
    padding: 0rem 1rem;
}

::-webkit-scrollbar {
    display: none;
}

.georama {
    font-family: "Georama", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.childrenCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roundButton {
    border: none;
    background-color: white;
    padding: 1rem;
    border-radius: 10rem;
}

#headText {
    color: rgb(12, 12, 12);
    background-color: rgb(241, 241, 241);
    width: max-content;
    padding: .3rem;
    font-size: 2.3rem;
    margin-bottom: .4rem;
}

#headText2 {
    color: white;
    font-size: 1.6rem;
    /* margin-left: 3rem; */
}

#skillHeader {
    color: white;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

#skillContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding: 0.5rem 0rem;
    /* border: 1px solid white; */
}

#skillContainer li {
    list-style-type: none;
}

.skill {
    font-size: .8rem;
    margin-right: .5rem;
    padding: .5rem 1rem;
    margin-bottom: .3rem;
    border-radius: 10rem;
    border: 1px solid white;
    color: white;
    background-color: rgb(6, 6, 6);
}


.center {
    transform: translate(0%);
    transition: transform cubic-bezier(.05, .25, .01, .99) 0.5s;
}

.snapCenter {
    transform: translate(0%);
}

.left {
    filter: opacity(100%);
    transform: translate(-100%) scale(0.85);
    transition: transform cubic-bezier(.05, .25, .01, .99) 0.5s, filter 0.5s;
}

.snapLeft {
    transform: translate(-100%) scale(0.85);
}

.hiddenL {
    transform: translate(-180%) scale(0.85);
    filter: opacity(0%);
    transition: transform cubic-bezier(.05, .25, .01, .99) 0.5s, filter 0.5s;
}

.leftMost {
    transform: translate(-180%) scale(0.65);
}

.snapLeftMost {
    transform: translate(-180%) scale(0.65);
    filter: opacity(0%);
}

.right {
    transform: translate(100%) scale(0.85);
    filter: opacity(100%);
    transition: transform cubic-bezier(.05, .25, .01, .99) 0.5s, filter 0.5s;
}

.snapRight {
    transform: translate(100%) scale(0.85);
}

.hiddenR {
    transform: translate(180%) scale(0.85);
    filter: opacity(0%);
    transition: transform cubic-bezier(.05, .25, .01, .99) 0.5s, filter 0.5s;
}

.rightMost {
    transform: translate(180%) scale(0.65);
    transition: transform 0.5s;
}

.snapRightMost {
    transform: translate(180%) scale(0.65);
    filter: opacity(0%);
}